[Unit]
Description=Wifec Immfly VPN
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=openvpn3 session-start -c {{ setup_repo_private }}/immfly-wifec/vpn/wifec-open-vpn-config.ovpn
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=wifecvpn.service
