[Unit]
Description=Setup Wireguard Immfly VPN up at startup
After=network.target

[Service]
Type=simple
ExecStart=/home/samuel/git/setups/linux-setup/install-software-scripts/support-files/setvpn.sh up
RemainAfterExit=true

[Install]
WantedBy=default.target